@{
    Page.Title = "New Order";
    Layout = "~/_FormLayout.cshtml";
}

<div class="page-header">
    <h1>New Order</h1>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">New Order</div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Customer</span>
                            <input type="text" class="form-control" />
                        </div><!--input-group-->
                    </div><!--col-lg-12-->
                </div><!--row-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Description</span>
                            <input type="text" class="form-control" />
                        </div><!--input-group-->
                    </div><!--col-lg-12-->
                </div><!--row-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Due Date</span>
                            <input type="date" class="form-control" />
                        </div><!--input-group-->
                    </div><!--col-lg-12-->
                </div><!--row-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <a href="~/OrderShow"class="btn btn-lg btn-success">Create</a>
                            <a href="~/OrderIndex" class="btn btn-lg btn-danger">Cancel</a>
                        </div><!--input-group-->
                    </div><!--col-lg-12-->
                </div><!--row-->

            </form>

        </div><!--panel-body-->
    </div>
</div>