@{
    Page.Title = "Quote";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>Quote</h1><h4>28/04/2014</h4>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <p><strong>Description:</strong>"Some text"</p>
        <p><strong>Due Date:</strong> ##/##/####</p>
        <p><strong>Customer:</strong> "Some Text"</p>
    </div>
</div>  

<object data="myfile.pdf" type="application/pdf" class="col-lg-12">
  <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
</object>
